In [1]:
import pyforest
from transform_lib import clean_data
from transform_lib import get_ids, fill_id

In [2]:
df = pd.read_csv('Дегенератор 3000 - С пересчетом на серебро.csv')
df

,Unnamed: 0,Заемщик,Поручитель,ID заемщика,Пол заемщика,Есть/нет чина,Чин заемщика,Ранг заемщика,Есть/нет титула,Титул заемщика,...,Месяц сделки,Дата сделки,Год закрытия,День закрытия,Месяц закрытия,Дата закрытия,Кол-во дней,Источник,уточнения,Unnamed: 40
0,0,Гагарины Николай и Сергей Сергеевичи,Отсутсвует,id_personal_198,М,0.0,NaN,NaN,1.0,князь,...,март,02.03.1804,1805,2,март,02.03.1805,365,РГАДА.Ф. 1263. оп. 10. д.2512,NaN,NaN
1,1,Гагарины Николай и Сергей Сергеевичи,Отсутсвует,id_personal_198,М,0.0,NaN,NaN,1.0,князь,...,январь,11.01.1804,NaN,NaN,NaN,NaN,NaN,РГАДА.Ф. 1263. оп. 10. д.2512,NaN,NaN
2,2,Гагарины Николай и Сергей Сергеевичи,Отсутсвует,id_personal_198,М,0.0,NaN,NaN,1.0,князь,...,январь,11.01.1804,NaN,NaN,NaN,NaN,NaN,РГАДА.Ф. 1263. оп. 10. д.2512,NaN,NaN
3,3,Гагарины Николай и Сергей Сергеевичи,Отсутсвует,id_personal_198,М,0.0,NaN,NaN,1.0,князь,...,декабрь,16.12.1804,1805,16,декабрь,16.12.1805,365,РГАДА.Ф. 1263. оп. 10. д.2512,NaN,NaN
4,4,Гагарины Николай и Сергей Сергеевичи,Отсутсвует,id_personal_198,М,0.0,NaN,NaN,1.0,князь,...,январь,05.01.1804,1805,22,январь,22.01.1805,387,РГАДА.Ф. 1263. оп. 10. д.2512,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,1107,Щербатов Михаил Михаилович,NaN,id_personal_1021,М,1.0,камер-юнкер,5.0,1.0,князь,...,февраль,21.02.1771,NaN,NaN,NaN,21.02.1772,NaN,РГАДА. Ф. 1263. Оп. 1. д. 6312,личные деньги голицыных и дворовые,NaN
1108,1108,Голицын Николай Михайлович,NaN,id_personal_231,М,1.0,Бригадир,5.0,1.0,князь,...,NaN,23.02.1771,NaN,NaN,NaN,NaN,NaN,РГАДА. Ф. 1263. Оп. 1. д. 6313,личные деньги голицыных и дворовые,NaN
1109,1109,Одоевский Сергей Иванович,NaN,id_personal_669,М,1.0,Капитан,9.0,1.0,князь,...,NaN,01.02.1771,NaN,NaN,NaN,NaN,NaN,РГАДА. Ф. 1263. Оп. 1. д. 6314,личные деньги голицыных и дворовые,NaN
1110,1110,Шаховский Борис Григорьевич,NaN,id_personal_999,М,1.0,Полковник,6.0,1.0,князь,...,NaN,03.02.1771,NaN,NaN,NaN,NaN,NaN,РГАДА. Ф. 1263. Оп. 1. д. 6315,личные деньги голицыных и дворовые,NaN
1111,1111,Нарышкин Василий Васильевич,NaN,id_personal_585,М,1.0,Поручик,12.0,0.0,NaN,...,NaN,09.02.1771,NaN,NaN,NaN,NaN,NaN,РГАДА. Ф. 1263. Оп. 1. д. 6316,личные деньги голицыных и дворовые,NaN

In [3]:
df = df[df.isna().sum(axis=1) != 43].copy()
del df['Unnamed: 0']
del df['Unnamed: 40']
df

,Заемщик,Поручитель,ID заемщика,Пол заемщика,Есть/нет чина,Чин заемщика,Ранг заемщика,Есть/нет титула,Титул заемщика,Семейное положение,...,День сделки,Месяц сделки,Дата сделки,Год закрытия,День закрытия,Месяц закрытия,Дата закрытия,Кол-во дней,Источник,уточнения
0,Гагарины Николай и Сергей Сергеевичи,Отсутсвует,id_personal_198,М,0.0,NaN,NaN,1.0,князь,малолетний,...,2,март,02.03.1804,1805,2,март,02.03.1805,365,РГАДА.Ф. 1263. оп. 10. д.2512,NaN
1,Гагарины Николай и Сергей Сергеевичи,Отсутсвует,id_personal_198,М,0.0,NaN,NaN,1.0,князь,малолетний,...,11,январь,11.01.1804,NaN,NaN,NaN,NaN,NaN,РГАДА.Ф. 1263. оп. 10. д.2512,NaN
2,Гагарины Николай и Сергей Сергеевичи,Отсутсвует,id_personal_198,М,0.0,NaN,NaN,1.0,князь,малолетний,...,11,январь,11.01.1804,NaN,NaN,NaN,NaN,NaN,РГАДА.Ф. 1263. оп. 10. д.2512,NaN
3,Гагарины Николай и Сергей Сергеевичи,Отсутсвует,id_personal_198,М,0.0,NaN,NaN,1.0,князь,малолетний,...,16,декабрь,16.12.1804,1805,16,декабрь,16.12.1805,365,РГАДА.Ф. 1263. оп. 10. д.2512,NaN
4,Гагарины Николай и Сергей Сергеевичи,Отсутсвует,id_personal_198,М,0.0,NaN,NaN,1.0,князь,малолетний,...,5,январь,05.01.1804,1805,22,январь,22.01.1805,387,РГАДА.Ф. 1263. оп. 10. д.2512,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,Щербатов Михаил Михаилович,NaN,id_personal_1021,М,1.0,камер-юнкер,5.0,1.0,князь,женат,...,21,февраль,21.02.1771,NaN,NaN,NaN,21.02.1772,NaN,РГАДА. Ф. 1263. Оп. 1. д. 6312,личные деньги голицыных и дворовые
1108,Голицын Николай Михайлович,NaN,id_personal_231,М,1.0,Бригадир,5.0,1.0,князь,вдов,...,23,NaN,23.02.1771,NaN,NaN,NaN,NaN,NaN,РГАДА. Ф. 1263. Оп. 1. д. 6313,личные деньги голицыных и дворовые
1109,Одоевский Сергей Иванович,NaN,id_personal_669,М,1.0,Капитан,9.0,1.0,князь,женат,...,1,NaN,01.02.1771,NaN,NaN,NaN,NaN,NaN,РГАДА. Ф. 1263. Оп. 1. д. 6314,личные деньги голицыных и дворовые
1110,Шаховский Борис Григорьевич,NaN,id_personal_999,М,1.0,Полковник,6.0,1.0,князь,женат,...,3,NaN,03.02.1771,NaN,NaN,NaN,NaN,NaN,РГАДА. Ф. 1263. Оп. 1. д. 6315,личные деньги голицыных и дворовые
1111,Нарышкин Василий Васильевич,NaN,id_personal_585,М,1.0,Поручик,12.0,0.0,NaN,женат,...,9,NaN,09.02.1771,NaN,NaN,NaN,NaN,NaN,РГАДА. Ф. 1263. Оп. 1. д. 6316,личные деньги голицыных и дворовые

In [4]:
df['Сумма долга'] = df['Cумма долга в серебрянных рублях'].values.tolist()
df['Сумма долга']

0       11904,76
1        9523,81
2        2380,95
3        1428,57
4        3174,60
          ...
1107      980,39
1108     1960,78
1109     3921,57
1110     1960,78
1111     2941,18
Name: Сумма долга, Length: 1112, dtype: object

In [5]:
clean_data(df)

In [6]:
df.isna().sum()

Заемщик                                0
Поручитель                           909
ID заемщика                            0
Пол заемщика                           0
Есть/нет чина                         20
Чин заемщика                           0
Ранг заемщика                          0
Есть/нет титула                       16
Титул заемщика                         0
Семейное положение                     0
Сословие заемщика                      0
Кредитор                               0
ID кредитора                           0
Пол кредитора                          0
Есть/нет чина.1                      890
Чин кредитора                          0
Ранг кредитора                         0
Есть/нет титула.1                    872
Титул кредитора                        0
Семейное положение.1                   0
Сословие кредитора                     0
Cумма долга в серебрянных рублях       1
Сумма долга                            0
Срок выплаты                         946
Закрыт/переписан                     904
Остался должен                       997
Залог                                906
Сумма залога                        1034
Описание залога                     1101
Как были отданы                     1012
Год сделки                            12
День сделки                           88
Месяц сделки                          61
Дата сделки                           16
Год закрытия                         951
День закрытия                        956
Месяц закрытия                       953
Дата закрытия                        962
Кол-во дней                         1007
Источник                              57
уточнения                           1056
dtype: int64

In [7]:
fill_id(df)

Таблица с id сохранена в id_table.xlsx, Таблица с измененными id сохранена в id_added.xlsx
Необходимо копировать только столбцы ID!

/home/paul/Documents/project_'give_me_money'/transform_lib.py:123: UserWarning: НЕ КОПИРОВАТЬ ВСЮ ТАБЛИЦУ!
  warnings.warn("НЕ КОПИРОВАТЬ ВСЮ ТАБЛИЦУ!")

In [8]:
from transform_lib import get_sparse_matrix

In [9]:
tmp = get_sparse_matrix(df)
tmp.to_excel('sparse_matrix.xlsx', index=False)

In [10]:
tmp.to_csv('sparse_matrix.csv', index=False)

In [11]:
tmp

,0,1,2,3,4,5,6,7,8,9,...,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112
0,Заемщик\Кредитор,id_personal_451,id_personal_191,id_personal_191,id_personal_806,id_personal_551,id_personal_735,id_personal_813,id_personal_243,id_personal_356,...,id_personal_226,id_personal_226,id_personal_226,id_personal_226,id_personal_226,id_personal_226,id_personal_226,id_personal_226,id_personal_226,id_personal_226
1,id_personal_198,11904,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,id_personal_198,0,9523,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,id_personal_198,0,0,2380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,id_personal_198,0,0,0,1428,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,id_personal_1021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,980,0,0,0,0
1109,id_personal_231,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1960,0,0,0
1110,id_personal_669,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3921,0,0
1111,id_personal_999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1960,0
1112,id_personal_585,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2941

In [ ]:
#https://docs.google.com/spreadsheets/d/187ToiUxwXdhQx_mvZHvpTvXESzaTrYZizjaPdIOa57Q/edit?usp=sharing

In [39]:
from transform_lib import export_sparce

In [40]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [41]:
CREDENTIALS_FILE = 'service_account.json'

credentials = ServiceAccountCredentials.from_json_keyfile_name(CREDENTIALS_FILE,
                                                               ['https://www.googleapis.com/auth/spreadsheets'])
gc = gspread.authorize(credentials)
url = 'https://docs.google.com/spreadsheets/d/187ToiUxwXdhQx_mvZHvpTvXESzaTrYZizjaPdIOa57Q/edit#gid=277271009'

export_sparce(tmp, gc, url, 'sparse_matrix')

In [46]:
lst = df[['ID заемщика', 'ID кредитора', 'Сумма долга']].copy()
lst

           ID заемщика     ID кредитора  Сумма долга
0      id_personal_198  id_personal_451      11904.0
1      id_personal_198  id_personal_191       9523.0
2      id_personal_198  id_personal_191       2380.0
3      id_personal_198  id_personal_806       1428.0
4      id_personal_198  id_personal_551       3174.0
...                ...              ...          ...
1107  id_personal_1021  id_personal_226        980.0
1108   id_personal_231  id_personal_226       1960.0
1109   id_personal_669  id_personal_226       3921.0
1110   id_personal_999  id_personal_226       1960.0
1111   id_personal_585  id_personal_226       2941.0

[1112 rows x 3 columns]

In [47]:
from transform_lib import export_table

In [49]:
export_table(lst, gc, url, 'Список смежности')